@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Krona One", sans-serif;
    color: white;
    background-color: black;
    overflow: auto;
}

.logo {
    height: 120px;
}

nav { 
    display: flex;
    
    align-items: center;    
}

.nav_list {
    display: flex;
    position: absolute;
    right: 100px;
}


.estilo_botao {
    display: flex;
    background-color: #5709FF;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    width: 120px;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px; 
    margin-left: 8px;
    cursor: pointer;   
}

.estilo_botao:hover {
    display: flex;
    background-color: #5709ffbd;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    width: 120px;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px; 
    margin-left: 8px;  
    cursor: pointer;  
}

.conteudo_main {
    display: flex;
    justify-content: center;
    padding-bottom:35%;
}

.conteudo_principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    width: 752px;
    height: 750px;
    background-color: rgb(0, 0, 0);
}

.titulo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.subtitulo {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.imagem_main {
   width: 632px;
   height: 432px;
}

.titulo_servicos {
    text-align: center;
}

.tabelas {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    
}

.tabela1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid #5709FF;
    margin-right: 5px;
    width: 150px;
    height: 200px;
}

.tabela2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid #5709FF;
    margin-right: 5px;
    width: 150px;
    height: 200px;
}


.tabela3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid #5709FF;
    margin-left: 0px;
    width: 150px;
    height: 200px;
}

.tabelas p {
    font-weight: 700;
}

.rodape {
    display: flex;
    width: 100%;
    height: 140px;
    background-color: #5709FF;
    justify-content: center;
    flex-direction: column;
}

.rodape_link {
    text-decoration: none;
    color: white;
    margin: 10px 100px;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}







